<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Czatex</title>
</head>
<body class="bg-gray-800 flex flex-col justify-center items-center">
    <header class="mt-4 mb-8 text-center">
        <h1 class="text-6xl text-emerald-400 font-mono ">Czatex <a class="text-white">💬</a></h1>
        <h2 class="text-3xl text-pink-500"><a class="border-dashed border-b-2 border-sky-500">bezstanowy czat </a><a>napisany w Go</a></h2>
    </header>
    <main>
        <div class="flex flex-col gap-2">
            <input type="text" name="nick" class="rounded-md bg-gray-900 text-white text-xl p-1" placeholder="Wpisz swoją nazwę..."/>
            <input type="text" name="nick" class="rounded-md bg-gray-900 text-white text-xl p-1" placeholder="Wpisz nazwę pokoju"/>
        <button class="rounded-md hover:rounded-xl bg-emerald-400 hover:bg-emerald-500 duration-300 text-xl px-2 py-1 text-gray-800 font-bold">Dołącz</button>
        </div>
    </main>
</body>
</html>