<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="script.js"></script>

    <title>Czatex</title>
</head>
<body class="bg-gray-800 flex flex-col justify-center items-center">
    <header class="mt-4 mb-8 text-center">
        <h1 class="text-6xl text-emerald-400 font-mono ">Czatex <a class="text-white">💬</a></h1>
        <h2 class="text-3xl text-pink-500"><a class="border-dashed border-b-2 border-sky-500">bezstanowy czat </a><a>napisany w Go</a></h2>
    </header>
    <main>
        <form class="flex flex-col gap-2 bg-gray-700 p-2 rounded-md" id="entryForm">
            <input type="text" id="name" class="rounded-md bg-gray-900 text-white text-xl p-1.5" placeholder="Twoja nazwa"/>
            <input type="text" id="room" class="rounded-md bg-gray-900 text-white text-xl p-1.5" placeholder="Nazwa pokoju"/>
        <button type="submit" class="rounded-md hover:rounded-xl bg-emerald-400 hover:bg-emerald-500 duration-300 text-xl px-2 py-1 text-gray-800 font-bold">Dołącz</button>
        </form>
        <form class="hidden flex-col gap-2 bg-gray-700 p-2 rounded-md" id="messageForm">
        <textarea cols="50" rows="4" id="message" class="rounded-md bg-gray-900 text-white text-xl p-1.5"></textarea>
        <button type="submit" class="rounded-md hover:rounded-xl bg-emerald-400 hover:bg-emerald-500 duration-300 text-xl px-2 py-1 text-gray-800 font-bold">Wyślij</button>
        </form>
    </main>
</body>
</html>